@charset "UTF-8";

:root{
    --cor1: #1a1e29;
    --cor2: #132d46;
    --cor3: #01c38e;
    --cor4:#ffffff;
    --cor5:#FA8334;
    --cor6:#FFFD77;
    --cor7: #00eeff;
    

    --main-font: 'rajdhani';
    --fonte-android: 'Android', cursive;
    --font-menu:'beat';
}
 

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf) format(opentype);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    /* Removido o overflow hidden aqui */
}



header{
    /* background-color: #132d46;*/
    /*background: linear-gradient(to top, var(--cor1), var(--cor2));*/
    background-image: url(../IMAGENS/testando-3.png);
     text-align: center;
     padding: 180px;
     display: block;
     background-size: cover;

 }
 
 .text-principal h1{
    color: var(--cor4);
    align-items: center;
    font-size: 60px;
    font-style: oblique;
    font-family: var(--fonte-android);
    font-weight: 600;
    text-shadow: 1px 2px var(--cor2);
}

.text-principal h3{
    font-family: var(--fonte-android);
    color: var(--cor4);
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
}

/*Ativação do modo dark*/

main{
    height: 100vh;
    background-color: var(--cor4);
    position: relative; /* Necessário para que a posição absoluta da trilho funcione em relação ao body */
    align-items: center;
    text-align: center;
}

main .INSTANCES .content {
    display: flex;
    align-items: flex-start; /* Alinha os itens no topo */
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 100px; /* Distância do topo da tela */
    
}

main .INSTANCES img {
    margin-right: 100px; /* Espaçamento entre a imagem e o texto */
    max-width: 550px; /* Ajusta a largura da imagem se necessário */
}


.trilho{
    width: 60px;
    height: 25px;
    background-color: #c3c3c3;
    border-radius: 150px;
    position: absolute;
    top: 85px; /* Distância do topo da tela */
    right: 10px; /* Posiciona a trilho no canto superior direito */
    cursor: pointer;
}

.trilho .indicador{
    width: 25px;
    height: 25px;
    background-color: var(--cor4);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.9s;
}

.trilho.dark{
    background-color: #4d4d4d;
}

.trilho.dark .indicador{
    left: 35px;
    background-color: black;
}

main.dark{
    background-color: var(--cor2);
    color: var(--cor4);
    
}


header.dark{
    background-color: #01c38e;
    padding: 180px;
}

/*Logo*/
.logo-Esi {
    position: absolute;
    top: 85px; /* Ajuste para controlar a distância do topo */
    left: 15px; /* Ajuste para controlar a distância da esquerda */
    width: 60px; /* Ajuste o tamanho da imagem, se necessário */
}



.logo-Esi{
    filter: drop-shadow(1px 1px 15px var(--cor7));
    transition: transform 300ms;
    width: 75px;
}

.logo-Esi:hover {
    transform: scale(1.1) rotate(2deg); /* Aplica a escala e rotação no hover */
  }

 

  /*Menu*/

/* Configurações do menu */
nav {
    font-family: var(--fonte-android);
    position: fixed;
    top: 0;
    right: 0; 
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background: #ffffff15;
    backdrop-filter: blur(10px);
    border: solid 1px #ffffff35;
    z-index: 1000; 
    
}

nav li {
    display: inline-block;
    position: relative; /* Adicione position: relative para os itens de menu que possuem dropdown */
}

nav li a {
    display: inline-block;
    color: var(--cor4);
    padding: 10px;
}

nav li a:hover {
    background: #3e343430;
    border-radius: 10px;
    color: var(--cor4);
    transition:0.4s;
}

/* Estilização do submenu */
.dropdown-menu {
    position: absolute;
    display: none;
    top: 100%; /* Certifica que o menu dropdown seja exibido abaixo do item do menu */
    left: 0;
    background-color: var(--cor2); /* Ajuste a cor do fundo do submenu conforme necessário */
    padding: 10px;
    border-radius: 5px;
    z-index: 1001; /* Coloca o submenu acima de outros elementos */
}

 

/* Links dentro do submenu */
.dropdown-menu a {
    display: block;
    color: var(--cor4);
    padding: 5px 10px;
    white-space: nowrap; /* Evita que os links quebrem linha */
}

.dropdown-menu a:hover {
    background-color: var(--cor7); /* Cor de hover nos itens do submenu */
    border-radius: 5px;
    color: var(--cor2);
    transition:0.4s;
}

/* Mostrar o submenu ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}
