@charset "UTF-8";

:root{
    --cor1: #1a1e29;
    --cor2: #132d46;
    --cor3: #01c38e;
    --cor4:#ffffff;
    --cor5:#FA8334;
    --cor6:#FFFD77;
    --cor7: #1DD3B0;

    --main-font: 'rajdhani';
    --fonte-android: 'Android', cursive;
}
 

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf) format(opentype)
}

*{
    font-family: var(--fonte-android); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

section,
footer {
    padding: 54px 0;
}

.container{
    margin: 0 auto;
    padding: 0.5%;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--cor1);
    background-image: url(../IMAGENS/tela-5.png);
    overflow: hidden;
    background-size: 60vw;
    background-repeat: no-repeat;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a{
    color: var(--cor4);
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: var(--fonte-android);
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

ul a:hover{
    background: #ffffff30;
    border-radius: 20px;
    transition: 0.2s;
    color: var(--cor7);
}

.logo-img{
    filter: drop-shadow(1px 1px 15px var(--cor7));
    width: 100px;
    height: 150px;
    margin-left: 10px;
    transition: transform 300ms; /* Aplica a transição */
}

.logo-img:hover {
    transform: scale(1.1) rotate(2deg); /* Aplica a escala e rotação no hover */
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a {
    color: var(--cor4);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}

/*nav ul a:hover{
    width: 100%;
    background: #ffffff15;
    border: solid 1px var(--cor4);
    border-radius: 20px;
    padding: 15px;
    height: 100%;
    width: 100%; 
    transition: 0.6s;
    
}*/

/*nav ul a::after{
    content: "";
    background-color: var(--cor3);
    filter: drop-shadow(1px 1px 25px var(--cor7));
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.4s;
}*/

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    align-items: center;
    width: 100vw;
    height: 100%;
    margin: 150px;
    text-align: center;
    padding: 0  90px;
    background: #ffffff15;
    backdrop-filter: blur(10px);
    border: solid 1px #ffffff35;
    border-radius: 20px;
    font-family: var(--fonte-android)
}

h1{
    font-size: 90px;
    font-family: var(--fonte-android);
    text-align: center;
    position: relative;
    color: white;
}

.banner .banner-text h3{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    color: white;
}