@charset "UTF-8";

:root {
    --cor1: #1a1e29;
    --cor2: #132d46;
    --cor3: #01c38e;
    --cor4: #ffffff;
    --cor5: #FA8334;
    --cor6: #FFFD77;
    --cor7: #1DD3B0;
    --cor8: #90bede;
    --cor9: #14248a;

    /*cores degrade*/

    --degrad1:#324376;
    --degrad2: #586ba4;
    ----degrad3: #44cfcb;
    --degrad4: #f28f3b;



    --main-font: 'Rajdhani';
    --fonte-android: 'Android', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf) format(opentype);
}

* {
    font-family: var(--fonte-android);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    color: white;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 0 90px;
    background: #ffffff15;
    backdrop-filter: blur(10px);
    border: solid 1px #ffffff35;
    border-radius: 20px;
    align-items: center;
}


 

.container {
    margin: 0 auto;
    padding: 0.5%;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../IMAGENS/tela-5.png);
    overflow: hidden;
    background-size: 60vw;
    background-repeat: no-repeat;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(45deg, var(--degrad1), var(--degrad2), var(--cor2), var(--degrad4));
    background-size: 300% 300%; 
    animation: colors 15s ease infinite;
    width: 100vw;
    height: 100vh;
}

@keyframes colors {
    0% {
        background-position: 0% 50%; 
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50% ;
    }
}

a {
    color: var(--cor4);
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: var(--fonte-android);

}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

ul a:hover {
    background: #ffffff30;
    border-radius: 20px;
    transition: 0.2s;
    color: var(--cor4);
}

.logo-img {
    filter: drop-shadow(1px 1px 15px var(--cor7));
    width: 100px;
    height: 150px;
    margin-left: 10px;
    transition: transform 300ms; /* Aplica a transição */
}

.logo-img:hover {
    transform: scale(1.1) rotate(2deg); /* Aplica a escala e rotação no hover */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: var(--cor4);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--cor1);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--cor4);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--cor3);
}

.nav-responsive a {
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}



    .banner .banner-text {
        margin: 150px;
        padding: 0 90px;
    }

    h1 {
        font-size: 90px;
    }

    .banner .banner-text h3 {
        font-size: 40px;
    }




/*ANIMAÇÃO DE FUNDO*/
    .container{
        background:#000;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }
    
    
    
    .box ul li{
        position: absolute;
        width: 35px;
        height: 35px;
        list-style: none;
        opacity: 0;
        background: radial-gradient(deepskyblue, transparent, transparent);
        bottom:0;
        left: 10vh;
        animation: animate 15s linear infinite;
    }
    
    .box ul li:nth-child(2){
        left: 37vw;
        animation-delay: 2s;
    }
    
    .box ul li:nth-child(3){
        left: 25vw;
        animation-delay: 4s;
    }
        
    .box ul li:nth-child(4){
        left: 60vw;
        animation-delay: 6s;
    }
    
    .box ul li:nth-child(5){
        left: 75vw;
        animation-delay: 4s;
    }
    
    @keyframes animate{
        0%{
            transform: scale(0);
            opacity: 1;
            bottom: 0;
        }
        100%{
            transform: scale(1);
            opacity: 0;
            bottom: 100vh;
        }
    }